$frame-color: #c0c0c0;

.test-page-loader-hide {
  position: absolute;
  left: -600px;
  width: 500px;
}

.test-page-loader-static {
  display: block;
  margin: 0 0 5px;
  box-sizing: border-box;
  width: 100%;
  height: 0;
  border: 2px solid $frame-color;
  transition: height 200ms ease 0s;

  &:nth-last-of-type(1) {
    margin-bottom: 20px;
  }
}

.test-page-loader-head {
  margin: 0;
  padding: 3px 5px 0;
  background-color: $frame-color;
  cursor: pointer;
  font-size: 1em;
  font-family: Monaco, "Lucida Console", monospace;
}
